


<!DOCTYPE html>
<html lang="en" id="mainAcScope" ng-app="mainApp" ng-controller="mainCtrl">
<head>
  	<title>新北市政府線上申辦服務網</title>
  	


	<meta name="keywords" content=" 服務網,新北市政府雲端櫃台,申辦e服務" />
	<meta name="description" content="申辦e服務提供民眾優質的市政服務網" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="google-site-verification" content="kBhWJwhewft8Wqn_5GUTI-6vNBNEGx8K_jBEE8fo0ZQ" />
	<meta http-equiv="x-ua-compatible" content="ie=edge;ie=11 ;ie=10 ;ie=9 ;ie=8 ;">
	
	<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
	<!-- IE可能不見得有效 -->
	<META HTTP-EQUIV="EXPIRES" CONTENT="0">
	<!-- 設定成馬上就過期 -->
	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE,NO-STORE">
	<!-- 與第一行是同樣的作用 -->
    <link rel="shortcut icon" href="/eservice/images/ntpc.ico"/>
    

    
    <title>線上申辦服務網</title>

    <link rel="stylesheet" href="/eservice/css/dialogs.min.css">
    <link rel="stylesheet" href="/eservice/css/angular-busy.min.css">
    <link rel="stylesheet" href="/eservice/css/bootstrap.min.css">
    <link rel="stylesheet" href="/eservice/css/jquery-ui.css">
    
    <link rel="stylesheet" href="/eservice/css/tbform.css" type="text/css">
    <link rel="stylesheet" href="/eservice/css/ecloud.css" type="text/css">
    
    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {
            filter: none;
        }
    </style>
    <![endif]-->
    
    <script type="text/javascript">
		var contextPath = '/eservice';
	</script>

    <script src="/eservice/js/jquery.min.js"></script>
    <script src="/eservice/js/jquery.blockUI.js"></script>
    <script src="/eservice/js/jquery-ui.js"></script>
    <script src="/eservice/js/bootstrap.min.js"></script>
    <script src="/eservice/js/angular.min.js"></script>
    <script src="/eservice/js/angular-cookies.min.js"></script>
    <script src="/eservice/js/ui-bootstrap.min.js"></script>
    <script src="/eservice/js/angular-locale_zh-tw.js"></script>
    
    <script type="text/javascript" src="/eservice/js/localize.js"></script>
    <script type="text/javascript" src="/eservice/js/moment.js"></script>	
    <script type="text/javascript" src="/eservice/js/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/eservice/js/angular-translate.min.js"></script>
    <script type="text/javascript" src="/eservice/js/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <script type="text/javascript" src="/eservice/js/dialogs-default-translations.min.js"></script>
    <script type="text/javascript" src="/eservice/js/dialogs.translations.zh_TW.js"></script>
    <script type="text/javascript" src="/eservice/js/dialogs.min.js"></script>
    <script type="text/javascript" src="/eservice/js/angular-localdate.js"></script>
    <script type="text/javascript" src="/eservice/js/angular-busy.min.js"></script>
    <script type="text/javascript" src="/eservice/js/angular-file-upload.min.js"></script>
    <script type="text/javascript" src="/eservice/js/angular-Thumb.js"></script>
    <script type="text/javascript" src="/eservice/js/html2canvas.js"></script>
    <script type="text/javascript" src="/eservice/js/jwt.js"></script>
    <script type="text/javascript" src="/eservice/js/jquery.md5.js"></script>
    <script type="text/javascript" src="/eservice/js/common.js"></script>
    <script type="text/javascript" src="/eservice/popup/popMember.js"></script>
    <script type="text/javascript" src="/eservice/popup/popIsAgreeCheck.js"></script>
    <script type="text/javascript" src="/eservice/js/jspdf.min.js"></script>
     
    <link rel="stylesheet" href="/eservice/css/normalize.css">        
    <link rel="stylesheet" href="/eservice/css/pushy.css">
    <script src="/eservice/js/pushy.js"></script>
    <script src="/eservice/js/on_off.js"></script>
    <!-- 11/17 嘗試套版面end -->
    
    <!-- 11/17 嘗試套版面str -->
    <link id="mobileCss" rel="stylesheet" type="text/css" href="/eservice/css/index_mobile.css" media="screen and (max-width: 767px)">
	<link id="padCss" rel="stylesheet" type="text/css" href="/eservice/css/pad.css" media="screen and (min-width: 768px) and (max-width: 979px)">
	
	<link rel="stylesheet" type="text/css" href="/eservice/css/index.css" media="screen and (min-width: 978px)">
	<script type="text/javascript">
		if (top != self) top.location=encodeURI(self.location)
	</script>

    <script>
    var app = angular.module('mainApp', ['localization','ngCookies','ui.bootstrap','dialogs.main','pascalprecht.translate','dialogs.default-translations']);

    app.controller('mainCtrl',function($scope, $http,localize,$cookies,$rootScope,$timeout,$translate,dialogs) {
        localize.setLanguage($cookies.get('keepLoc'));
    });

    function showQueryCase(){
    	var queryCaseDialogs = angular.element(document.body).injector().get('dialogs');    	
    	var url = '/eservice/popup/popQueryCase.jsp';
    	queryCaseDialogs.create(url, 'mainCtrl', {size:'lg',keyboard: true,backdrop: false,windowClass: 'my-class'});    		
	}
    </script>

	<script src="/eservice/js/dirPagination.js"></script>
	<script type="text/javascript">
         

var app = angular.module('mainApp', ['localization','ngCookies','ui.bootstrap','ui.bootstrap.datepicker','dialogs.main','pascalprecht.translate','dialogs.translations.zh_TW','angularUtils.directives.dirPagination','angularFileUpload','angular-thumbnail']);   

app.controller('mainCtrl',function($scope,$cookies, $http,localize,$rootScope,$timeout,$translate,dialogs,FileUploader) {
	 
	localize.setLanguage($cookies.get('keepLoc'));

	$("#mobileCss").attr("href", "/eservice/css/mobile.css");
	$("#padCss").attr("href", "/eservice/css/pad.css");
	$(".menu-btn").css("display", "none");
	
	var getMainList = function(){
		$http({
			 method: 'POST',
			 url: 'getMainListIndex.action',
			 headers: {'Content-Type': 'application/x-www-form-urlencoded'}
		}).success(function(response) {
			$scope.subjectResults = response.subjectResults;
			$scope.publishResults = response.publishResults;
			$scope.hotResults = response.hotResults;
		});
	}
	
	getMainList();
	
	$scope.doPublishData = function(item){
		window.location = contextPath + "/PublishData.action?qryPkid=" + item.pkid+ "&mode=data";
	}
	$scope.doHotData = function(caseItem){
		window.location = contextPath + "/CaseData.action?itemId=" + caseItem.itemId;
	}
	$scope.doSubjectData = function(subjectItem){
		var url = "/eservice/SubjectCaseItem.action";
		var sform = $('<form action="' + url + '" method="post">' +
				  '<input type="text" name="subjectCd" value="' +  subjectItem.subCd + '" />' +
				  '<input type="text" name="subjectDesc" value="' +  subjectItem.subDesc + '" />' +
				  '</form>');
				$('body').append(sform);
				sform.submit();
		/*window.location = contextPath + "/SubjectCaseItem.action?subjectCd=" + 
			encodeURIComponent(subjectItem.subCd)+"&subjectDesc="+encodeURIComponent(subjectItem.subDesc);*/
	}
	$scope.popMemberURL = function(x,y) {
	    var dlg = dialogs.create('popup/popMember.jsp','popMemberCtrl', {'P':x,'C':y}, {size:'lg',keyboard: true, backdrop: true, windowClass: 'my-class'});
		    dlg.result.then(function(unit){
		      //$scope.qryMainUnitData = unit;
		    },function(){
	    });
    };
});
app.controller('popMemberCtrl', popMember);
    </script>
</head>
<body>
<div id="container">

<div id="wrapper">



<head>
	<script type="text/javascript">
		
		var isIE8 = navigator.userAgent.search("MSIE 8") > -1;
	    var isIE9 = navigator.userAgent.search("MSIE 9") > -1;
	    if (isIE8) {
	        alert('您的瀏覽器為IE8，無法支援本系統，請使用IE10以上版本或者使用別的瀏覽器(例:GOOGLE CHROME)');
	    }
	    if (isIE9) {
	    	 alert('您的瀏覽器為IE9，無法支援本系統，請使用IE10以上版本或者使用別的瀏覽器(例:GOOGLE CHROME)');
	    }
	    
	    
		var contextPath = "/eservice";
		
		var displayName = '';
		var wordId = '';
		var account = '';
		var sessionId = '';
		
		var state;
		var nonce;
		var userInfoUrl;
		var scope;
		var clientSecrect;
		var memberUrl;
	
	    function doSearch() {
	    	var qryKeyword = $('#qryKeyword_1').val();
	    	$("#qryKeyword").val(qryKeyword);
	    	$("#serchForm").attr("action",contextPath+"/SearchCaseItem.action");
			$("#serchForm").submit();
	    }
	    function doAdSearch() {
	    	document.location = contextPath  + "/AdvancedCaseItem.action";
	    }
		function showLogin() {
			document.location = contextPath + "/Login.action?dispatch=main";
		};

		$(document).ready(function() {
			if (!displayName) {
				displayName = '';
			}
			refreshHeader(displayName);
		});
		
		function refreshHeader(displayName) {			
			if (displayName) {
				$("#defMember").hide();
				//$("#siteMap1").hide();
				$("#siteMap2").show();
				$("#lbDisplayName").text(displayName);
			} else {
				$("#defMember").show();
				//$("#siteMap1").show();
				$("#siteMap2").hide();
				$("#LabelID").empty();
			}
		}
		
		function returnHome() {
			var sessionUserId = "";
			if (!sessionUserId) {
				sessionUserId = '';
			}
			if (!sessionUserId) {
				sessionUserId = "none";
			}
			sessionUserId = btoa(sessionUserId);
			var url = "/service/Index.action";
			var cqform = $('<form action="' + url + '" method="post">' +
				  '<input type="text" name="sessionUserId" value="' + sessionUserId + '" />' +
				  '<input type="text" name="dispatch" value="loginPortal" />' +
				  '</form>');
			$('body').append(cqform);
			cqform.submit();
		}

		function implicitLogin() {
			state = "ST-" + (new Date()).getTime();
			nonce = "NO-" + (new Date()).getTime();
			var w = window.open('/eservice/memberService.action', 'oauth', 'width=500,height=700');
			/* $.ajax({
			    method: 'POST',
			    url: 'initLogin.action',
			    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
			    dataType: "json"
			}).success(function(response) {
		   		var clientId = response.clientId;
		   		clientSecrect = response.clientSecrect;
		   		var authorizationUrl = response.authorizationUrl;
		   		var redirectUri = response.redirectUri;
		   		userInfoUrl = response.userInfoUrl;
		   		scope = response.scope;
		   		console.log(authorizationUrl);
		   		console.log(redirectUri);
		        var url = authorizationUrl;
		        url += '?response_type=' + encodeURIComponent("id_token token")
		            +  '&redirect_uri=' + encodeURIComponent(redirectUri)
		            +  '&client_id=' + encodeURIComponent(clientId)
		            +  '&scope=' + encodeURIComponent(scope)
		            +  '&state=' + encodeURIComponent(state)
		            +  '&nonce=' + encodeURIComponent(nonce)
		        var w = window.open(url, 'oauth', 'width=500,height=700');
		   	}).error(function() {
		   	}); */
		}
		function setOauthParams(oauthParamsPassed) {
	    	this.oauthParams = oauthParamsPassed;
		}
		function getOAuthParams() {
		    return this.oauthParams;
		}
	    function callApi() {
	    	var params = this.getOAuthParams();
	    	$.ajax({
			    method: 'POST',
			    url: 'initLogin.action',
			    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
			    dataType: "json"
			}).success(function(response) {
		   		clientSecrect = response.clientSecrect;
		   		userInfoUrl = response.userInfoUrl;
		        //console.log(params);
		        if (params['error']) {
		          alert(params['error_description']);
		        } else {
		         /*  if (params['state'] !== state) {
		            alert("不是我發出的訊息");
		          } else { */
		            var id_token = params['id_token'];
		            var token = jwt.WebTokenParser.parse(id_token);

		            if (token.verify(clientSecrect) === false) {
		              alert("不正確的 id token ....");
		            } else {
		      		   $.ajaxSetup({
		    			   headers: {
		    			     'Authorization': params['token_type'] + ' ' + params['access_token']
		    			   }
		    			});
		              $.ajax({
		                'url': userInfoUrl,
		                'method': 'POST',
		                'headers': {'Authorization': params['token_type'] + ' ' + params['access_token']},
		                'dataType': 'json',
		                'success': function (data) {
		                	 $.ajax({
		                      'url': 'userToSessionLogin',
		                      'method': 'POST',
		                      'data': 'userInfo=' + JSON.stringify(data),
		                      'headers': {'Content-Type': 'application/x-www-form-urlencoded'},
		                      'dataType': 'json',
		                      'success': function (data) {
		                      	//document.location = contextPath + "/Service1.action?dispatch=loginOk";
		                      	document.location = contextPath + "/Index.action?dispatch=loginOk";
		                      }
		                    });
		                }
		              });
		            }
		          //}
		        };
		   	}).error(function() {
		   	});
	      }
    </script>
    <script>
    $(function(){   

    	$(".mobile_menu").each(function (){
    		var $window = $(window),
    			$ctop = $(this),
    			headerOffsetTop = $ctop.offset().top;
    	$window.on('scroll',function(){
    		if($window.scrollTop()> 0){ //headerOffsetTop
    			$(".mobile_menu").addClass('fixed').css('width','100%');
    			}else{
    			$(".mobile_menu").removeClass('fixed').css('width','80px');/**20171015**/
    				}
    		});
    	 });
    });
    /****************mobild menu*********************/
    $(function(){
    	 $(".mobile_menu").on('click',function(){
    	 $('.menu_open').toggle();/**20171015**/
    	 $('.menu_close').toggle();/**20171015**/
    		$(".left_block").toggle('600');
    		$('.mobile_menu').toggleClass('mobile_width');
    		$(".left_block").css('bottom','0px').css('top','35px').css('position','fixed').css('z-index','30');
    		$('.mobile_menu').css('z-index','60').css('top','0px').css('left','0px');
    		$('.mobile_menu').css('position','fixed')
    		$('.left_licence').css('margin','0px');

    	});
    	
    });
    var $window = $(window);
    $(function(){
    $(window).resize(function() {
        var windowsize = $window.width();
    	if (windowsize >= 767) {
        $(".left_block").css('display','block').css('top','inherit').css('bottom','inherit').css('position','inherit');
    	 }
    	 
    	});
    });
    function closewin(){
    	window.parent.close();
    }

    </script>
    
<style type="text/css">
	.linkM:hover{
	color:red
}
</style>
<script type="text/javascript">
	 

var app = angular.module('mainApp', ['localization','ngCookies','ui.bootstrap','ui.bootstrap.datepicker','dialogs.main','pascalprecht.translate','dialogs.translations.zh_TW','angularUtils.directives.dirPagination','angularFileUpload','angular-thumbnail']);   

app.controller('mainCtrl',function($scope,$cookies, $http,localize,$rootScope,$timeout,$translate,dialogs,FileUploader) {
	 
	localize.setLanguage($cookies.get('keepLoc'));

	$("#mobileCss").attr("href", "/eservice/css/mobile.css");
	$("#padCss").attr("href", "/eservice/css/pad.css");
	$(".menu-btn").css("display", "none");
	
	var getMainList = function(){
		$http({
			 method: 'POST',
			 url: 'getMainListIndex.action',
			 headers: {'Content-Type': 'application/x-www-form-urlencoded'}
		}).success(function(response) {
			$scope.subjectResults = response.subjectResults;
			$scope.publishResults = response.publishResults;
			$scope.hotResults = response.hotResults;
		});
	}
	
	getMainList();
	
	$scope.doPublishData = function(item){
		window.location = contextPath + "/PublishData.action?qryPkid=" + item.pkid+ "&mode=data";
	}
	$scope.doHotData = function(caseItem){
		window.location = contextPath + "/CaseData.action?itemId=" + caseItem.itemId;
	}
	$scope.doSubjectData = function(subjectItem){
		var url = "/eservice/SubjectCaseItem.action";
		var sform = $('<form action="' + url + '" method="post">' +
				  '<input type="text" name="subjectCd" value="' +  subjectItem.subCd + '" />' +
				  '<input type="text" name="subjectDesc" value="' +  subjectItem.subDesc + '" />' +
				  '</form>');
				$('body').append(sform);
				sform.submit();
		/*window.location = contextPath + "/SubjectCaseItem.action?subjectCd=" + 
			encodeURIComponent(subjectItem.subCd)+"&subjectDesc="+encodeURIComponent(subjectItem.subDesc);*/
	}
	$scope.popMemberURL = function(x,y) {
	    var dlg = dialogs.create('popup/popMember.jsp','popMemberCtrl', {'P':x,'C':y}, {size:'lg',keyboard: true, backdrop: true, windowClass: 'my-class'});
		    dlg.result.then(function(unit){
		      //$scope.qryMainUnitData = unit;
		    },function(){
	    });
    };
});
app.controller('popMemberCtrl', popMember);
</script>
</head>
<!--head-->
<header>
<div class="mobile_menu">
	<div class="menu_open" style="display:block;">
		<img src="/eservice/images/menu_open.png" border="0"></div>
	<div class="menu_close" style="display:none;">
		<img src="/eservice/images/menu_close.png" border="0"></div>
</div>
<div class="head_block">
<div class="logo"><!--11/17新增-->
	<!--<div class="menu-btn">☰</div>11/17新增結束
	<div class="mobile_menu"><div class="menu_open" style="display:block;">展開選單</div><div class="menu_close" style="display:none;">收合選單</div></div>-->
	<a href="/eservice/Index.action">
	
	<img src="/eservice/images/logo.png" alt="線上申辦服務網" border="0"></a>
</div>
<div class="top_right">
	<span class="site_map" id="siteMap1">
		<a href="#" onclick="returnHome();">回雲端櫃檯</a>
		
		<span id="defMember">
			<a href="#" onclick="implicitLogin();">會員登入</a>
			<a href="#" data-ng-click="popMemberURL('https://member.ntpc.gov.tw/register','https://member.ntpc.gov.tw/organization');">會員註冊</a>
			
			<br/><br/>
		</span>
	</span>
	
	<span class="site_map" style="font-size:15px;" id="siteMap2">
		<a href="#"><label id="lbDisplayName"></label>　您好</a>　
	
		<a href="/eservice/Logout.action">登出</a>
	</span>
	<div style="visibility:hidden;width:0;height:0;">
  		<form role="form" id="serchForm" name="serchForm" 
  				class="form-horizontal" target="_self" method="post">
 		<input id="qryKeyword" name = "qryKeyword" type="hidden" value="" />
  		</form>
  	</div>
	
	<div class="search">
		<form role="form" name="searchForm" class="form-horizontal">
			<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			  <tr>
			    <td width="70%" align="center">
			    	<input name="textfield" type="text" id="qryKeyword_1" style="width:100%; height:40px;" placeholder="請輸入關鍵字">
			    </td>
			    <td width="15%" align="center">
			    	<div class="search_btn" onclick="doSearch();">
			    	<!--  <input type="button" class="search_btn" onclick="doSearch();" value="搜　尋">-->
			    	<a href="#">搜　尋</a></div> 
			    </td>
			    <td width="15%" align="center"><div class="search_advbtn" onclick="doAdSearch();">
			    	<a href="#">進階搜尋</a></div>
			    </td>
			  </tr>
			</table>
		</form>
	</div>
</div>

<script>
var gItemId = '';
var gItemName = '';
</script>

</div>
</header>


<!--content-->
<div id="content">


<!--left menu-->


<script>
	angular.element(document).ready(function () {
		
		var allScope = angular.element($("#mainAcScope")).scope();
		var allHttp = angular.element(document.body).injector().get('$http');
		
		/* allHttp({
			 method: 'POST',
			 url: 'getLinkLeft.action',
			 headers: {'Content-Type': 'application/x-www-form-urlencoded'}
		}).success(function(response) {
			allScope.linkResults = response.linkResults;
		});
		 */
	});
	
    function caseQuery() {
    	
    	var checkUrl = "/eservice/checkVerifyCodeCaseQuery.action";
    	
    	if($("#caseNo").val() == '' || 
    	   $("#caseQueryCd").val() == '' ||	
    	   $("#caseQueryVerifyCd").val() == '') {
    		
    		alert('請正確輸入案件編號、案件查詢碼及驗證碼!');
    		return;
    	}
    	var url = "/eservice/CaseQuery.action";
		var cqform = $('<form action="' + url + '" method="post">' +
				  '<input type="text" name="caseNo" value="' +  $("#caseNo").val() + '" />' +
				  '<input type="text" name="caseQueryCd" value="' +  $("#caseQueryCd").val() + '" />' +
				  '<input type="text" name="caseQueryVerifyCd" value="' +  $("#caseQueryVerifyCd").val() + '" />' +
				  '</form>');
				$('body').append(cqform);
				cqform.submit();
    	//檢查驗證碼
    	/* $.post( checkUrl ,{'caseQueryVerifyCd':$("#caseQueryVerifyCd").val()}, function( data ) {
    		 if(data.checkResult == true) {
    			 var url = "/eservice/CaseQuery.action";
    			 var cqform = $('<form action="' + url + '" method="post">' +
    					  '<input type="text" name="caseNo" value="' +  $("#caseNo").val() + '" />' +
    					  '<input type="text" name="caseQueryCd" value="' +  $("#caseQueryCd").val() + '" />' +
    					  '</form>');
    					$('body').append(cqform);
    					cqform.submit();
    		 } else {
    			 alert('圖形驗證碼錯誤!');
    		 }
    	}); */
	}
    function viewForm(type) {
    	var url = "/eservice/exportTermTableGenAcFormPdf.action?";
    	if(type=='1'){
    		url+='type=U';
    	}else if(type=='2'){
    		url+='type=C';   		
    	}else if(type=='3'){
    		url+='type=N';   		
    	}
		window.open(url, "_blank" ,'width=700, height=700 , resizable=no');
	};
</script>
</head>
<div class="left_block"> <!-- style="display:block;" -->
    <div class="left_query">
        <div class="query_title" style="cursor:pointer"id="inp"><!--  onclick="show('jb51');"  -->
       		<img src="/eservice/images/psearch.png" alt="申辦進度查詢" width="221" height="42" >
        </div>
		<div id="jb51">新北市政府服務專線受理之申辦案件，自即日起提供網路查詢服務，請輸入案件編號、案件查詢碼及驗證碼，即可查詢案件目前辦理進度。</div>
		<div class="query_content">	
			<input type="text" maxlength="14" name="caseNo" id="caseNo" placeholder="請輸入案件編號">
			<input type="password" autocomplete="off" maxlength="4" name="caseQueryCd" id="caseQueryCd" placeholder="請輸入案件查詢碼">
	
			

	<!-- input type="text"  name="atuh_gCode" id="atuh_gCode" size="3" data-ng-model="verifyCode" maxlength="4" required="required"-->
	
	<div class="query_check">
		<input name="caseQueryVerifyCd" id="caseQueryVerifyCd" type="text" autocomplete="off" 
	    		size="3" maxlength="5" placeholder="請輸入圖形碼" style="width:104px;">
    </div>
    <div class="query_check check_lice" style="margin-left: 14px;">
		<img id="authImageCaseQuery"  width="65">
		<a href="javascript:reloadCaseQuery();">			
			<img src="/eservice/images/renew.png" width="23" height="23" alt="重新取得圖形碼" style=" margin-bottom: 2px;">			
		</a>
	</div>
	
	
<script type="text/javascript">
	function reloadCaseQuery(){
		document.getElementById('authImageCaseQuery').src = "GetImageQuery?len=5&reload=" + new Date().getTime();
	}
	reloadCaseQuery();
</script>
			<div class="query_btn"><a href="javascript:caseQuery();">送出查詢</a></div>
        </div>
    </div>    
    <div class="left_licence">
    	<div class="group_licence_title">
    		<a href="/eservice/NcCaseItem.action">
   				<img src="/eservice/images/item_02.jpg" alt="免憑證" width="221" height="49" border="0">	
   			</a>
   		</div>
    </div>    
	<div class="group_licence_title">
		<a href="/eservice/RelatedLink.action">
     		<img src="/eservice/images/item_03.jpg" alt="相關連結" width="221" height="49" border="0">
    	</a>
    </div>
    <div class="group_licence_title">
		<a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLScJFpCl1d00B_1pN8anB39XUIfAMRzj9Irttcy8FaUlbLT2og/viewform?formkey=dG9ORjdQWTEyUFc1SWtYc0lpUXBUVVE6MQ#gid=3">
     		<img src="/eservice/images/item_04.jpg" alt="滿意度" width="221" height="49" border="0">
    	</a>
    </div>
    
    <div class="group_licence_title">
    	<a href="#">
		<img src="/eservice/images/b02.png" alt="機關案件處理期限表" border="0" onClick="viewForm('1');">
		</a>
    </div>
    <div class="group_licence_title">
    	<a href="#">
		<img src="/eservice/images/b03.png" alt="公所案件處理期限表" border="0" onClick="viewForm('2');">
		</a>
    </div>
    <div class="group_licence_title">
    	<a href="#">
		<img src="/eservice/images/item_09.png" alt="" border="0" onClick="viewForm('3');">
		</a>
    </div>
    <div class="group_licence_title">
    	<iframe src="https://www.youtube.com/embed/m_kr2FKzhKM?rel=0" 
    		frameborder="0" allowfullscreen="" title="video sample" width="100%">
		</iframe>
	</div>
   	<!-- <div class="licence_content">
       	<ul>
       		<li class="animate-repeat" ng-repeat="link in linkResults">
       			<a target="_blank" href="{{link.linkUrl}}">
       				<img src="{{link.upimgName}}" width="100%" border="0" alt="{{link.linkName}}">
   				</a>
   			</li>
       	</ul>
    </div> -->
</div>



<!--right menu-->


<div class="index_right" ng-show="publishResults.length!=0">
	<div class="message_title"><span class="moreul"><a href="/eservice/PublishData.action">more</a></span><img src="/eservice/images/news_title.jpg" width="168" height="40" alt="最新消息"></div>
	    <div>
		<ul>
	        <li class="animate-repeat" ng-repeat="publish in publishResults">
	        	<a data-ng-click="doPublishData(publish);" href="#">{{publish.title}}</a>
	        	<span style="float:right;">{{publish.strDt | date:'yyyy-MM-dd'}}&nbsp;&nbsp;&nbsp;</span>
	        </li>
	    </ul>
    </div>
</div>


<div class="index_right">
	<div class="message_title_h"><span class="moreul"><a href="/eservice/HotCaseItem.action">more</a></span><img src="/eservice/images/hot_title.jpg" width="168" height="40" alt="熱門申辦"></div>
	    <div>
		<ul>
	        <li class="animate-repeat" ng-repeat="hot in hotResults">
	        	<a data-ng-click="doHotData(hot);" href="#">{{hot.itemName}}</a>
	        </li>
	    </ul>
    </div>
</div>


<div class="index_right">
	<div class="message_title">
	<span class="moreul">
		</span>
		<img src="/eservice/images/item_title.jpg" width="200" height="40" alt="最新消息">
	</div>
	<div class="nine_block">
		<div class="block_num" ng-repeat="subject in subjectResults">
			<a data-ng-click="doSubjectData(subject);"  href="#">
				<img src="{{subject.codeVal2}}"
				 alt="{{subject.subDesc}}" width="100%" border="0">
			</a>
			<div class="more_bg"><a data-ng-click="doSubjectData(subject);" href="#">{{subject.count}}項</a></div>
		</div>
	</div>
</div>


</div> <!-- content -->



<!--footer-->
<footer>
<div class="footer_block">
<div class="fleft_text"><a target="_blank" href="http://www.ntpc.gov.tw/ch/home.jsp?id=1313&amp;parentpath=0,6">本府聯絡資訊</a><br />
地 址：<a target="_blank" href="http://www.ntpc.gov.tw/ch/home.jsp?id=1448&amp;parentpath=0,6">22001新北市板橋區中山路1段161號</a><br />
本網站為新北市政府版權所有，未經允許，不得以任何形式複製和採用</div>
<div class="fleft_text">最新更新日期：108年07月02日 <span style="float:right;">瀏覽人次：0038425887</span><br />
  業務諮詢：02-29603456 (<a target="_blank" href="http://www.ntpc.gov.tw/ch/home.jsp?id=1313&amp;parentpath=0,6">轉業務機關分機</a>) <br />
建議最佳瀏覽器解析度為1024 x768
</div>
</div>
</footer>
<div class="closebt" onClick="closewin();">關閉視窗</div>

</div> <!-- wrap -->

</div>

</body>
</html>
